<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- custom styles -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- materialize js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <title>Locals</title>
</head>
<body>
  <nav class="black accent-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Locals</a>
      <a href="#" data-activities="mobile-demo" class="button-collapse"><i class="materiale-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">About</a></li>
        <li><a href='/feed' class="waves-effect waves-light btn">Home</a></li>
        <li><a href='/signup' class="waves-effect waves-light btn">Profile</a></li>
        <li><a href='/logout' class="waves-effect waves-light btn">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">

      <div class="col s10 offset-s1">
          <img src="/images/blank.jpg" alt="Profile Picture">

          <div class="form-group">
                Name | <span><%= user.name %></span>
          </div>
          <div class="form-group">
                Email | <span><%= user.username %></span>
          </div>
          <div class="form-group">
              Local or Traveler | <span><%= user.isLocal %></span>
          </div>
          <div class="form-group">
            Age | <span><%= user.age %></span>
          </div>
          <div class="form-group">
              City | <span><%= user.city %></span>
          </div>
          <div class="form-group">
            Bio | <span><%= user.bio %></span>
          </div>
            <% if (user._id.toString() === req.toString()) { %>
          <form action="/user/<%= user._id %>/update" method="GET">
            <div class="center-align">
              <input type="submit" class="waves-effect waves-light btn" value="Edit">
            </div>
          </form>

          <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
            <div class="center-align">
              <input type="submit" class="waves-effect waves-light btn" value="Delete Profile">
            </div>
            <br>
            <% } else { %>
          </form>
            <div class="center-align">
              <form class="" action="/message" method="get">
              <input action='' type="submit" class="waves-effect waves-light btn" value="Message <%= user.name %>">
              </form>
            </div>
            <br>
              <% } %>
      </div>
    </div>
  </div>



</body>
</html>
